{% extends "story/base.html" %}

{% block content %}

{% if form.errors %}
  <h4><p style="font-family: 'Century Gothic'; color:whitesmoke;">Ваше имя пользователя и пароль не совпадали. Пожалуйста,
      попробуйте еще раз.</p></h4>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <h4><p style="font-family: 'Century Gothic'; color:whitesmoke;">Вы не имеете доступа к этой странице. Войдите в систему с
        другими параметрами</p></h4>
  {% else %}
      <h4><p style="font-family: 'Century Gothic'; color:whitesmoke;">Войдите в систему, чтобы увидеть эту страницу.</p></h4>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'users:login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Вход" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}