{% extends "story/base.html" %}

{% block title %}Забыли пароль?(:{% endblock %}


{% block content %}
      <h1>Забыли пароль?(:</h1>
      <p>Введите свой email ниже и мы отправим вам инструкции по восстановлению пароля.</p>

<form action="" method="POST">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
        <label>Ваш e-mail</label><br>
        <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Отправить инструкции" />
</form>

{% endblock %}
