{% extends 'story/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
                <p>Автор: {{ post.author }}</p>
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'story:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h4><p>
            <center>
                <a href="{% url "story:post_share" post.id %}">Поделиться</a>
            </center>
        </h4></p>
        <center>
            <h1>{{ post.title }}</h1>
        </center>
        <center>
            <img src="{{ post.image.url}}" style="width:640px; height: 480px;">
        </center>
        <p><p align="justify" style="font-family: 'Comic Sans MS'; font-size: large; color:black;">{{ post.text|linebreaksbr }}</p></p>
    </div>

{% for comment in comments %}
  <div class="comment">
    <p class="info"><h4>
      Комментировал {{ comment.author }} {{ comment.created }}
  </h4>
    </p>
      <h5><p style="font-family: 'Tahoma'; "{{ comment.body|linebreaks }}</p></h5>
  </div>
{% empty %}
  <p>Здесь пока нет комментариев</p>
{% endfor %}
{% if new_comment %}
  <h5>Комментарий был добавлен</h5>
{% else %}
  <h3>Добавить новый комментарий</h3>
  <form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Добавить комментарий"></p>
  </form>
{% endif %}



{% endblock %}